body {
    height: 100%;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

#titre_principal{
    text-align: center;
}

#titre_GrandPyApp {
    margin-bottom: 10px;
    text-decoration: underline;
    font-size: auto;
}

#logo img {
    width: 50px;
    height: 45px;
    margin-bottom: 10px;
}

#history_label{
    position: relative;
    margin-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline;
    font-size: medium;
}

#result_question {
    display: none;
    margin-bottom: 10px;
    width: auto;
    height: auto;
}

#form_question {
    padding: 0px 15px 15px 0px;
}

#loading_icon {
    display: none;
    float: right;
    margin-right: 30px;
    height: 50px;
    width: 50px;
    animation: rotate 1000ms linear infinite;
    animation-play-state: paused;
}

#form_question_zone {
    margin-right: 505px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#form_title_question {
    font-weight: bold;
    padding: 5px;
}

#form_input_question {
    padding: 10px;
    font-size: 16px;
    font-style: italic;
}

#form_send_button {
    height: auto;
    width: auto;
    margin-top: 8px;
    border: 2px solid black;
}

#footer_section {
    position: relative;
    margin-top: 100%;
    font-size: larger;
}

.list-inline-item {
    text-decoration: underline;
}

#history_question li {
    position: relative;
    left: -35px;
}

#map {
    display: none;
    height: 400px;
    width: 100%;
    margin-top: 25px;
}

#grandpyapp_comments{
    margin-top: 15px;
    font-size: medium;
}

[name="GrandPyApp_response"]{
    color: rgb(131, 2, 2);
}
